<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApxQA.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>80AFCC39DD9ED1C30D8E9CCC333C5B8B83D6CFC9</string>
				<key>dateExpires</key>
				<string>2018/8/21</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5GRV9UE4L5.com.zhbservice.zhbservice</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:t2w2n.zhbservice.com</string>
					<string>applinks:t3w2n.zhbservice.com</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>5GRV9UE4L5</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>ApxQA.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>02c29aeb-dc8d-4394-95c6-b1c1cbff4a1c</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.zhbservice.zhbservice</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5GRV9UE4L5</string>
				<key>name</key>
				<string>ZHB service electronic commerce (Beijing) Co., LTD</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
